@charset "utf-8";

:root {
  --primary: #80aaff;
  --blue: #3478ff;
}

* {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  background-color: var(--primary);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 48px;
  font-weight: 100;
}

.rules {
  margin-top: 30px;
}

.buttons {
  max-width: 680px;
  margin: 25px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    color: var(--blue);
    font-size: 20px;

    &[disabled] {
      cursor: default;
      opacity: 0.3;
    }

    &:not([disabled]):hover {
      background-color: var(--blue);
      color: #fff;
    }
  }
}

.topic {
  margin-top: 30px;
  font-size: 28px;
  font-weight: 600;
}

.word {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  font-size: 60px;
  line-height: 1;

  span {
    display: inline-block;
    width: 39px;
  }
}

.lives {
  margin-top: 35px;
}

canvas {
  margin-top: 25px;
  width: 400px;
  height: 200px;
  border: 1px dashed #fff;
}

.btn-wrap {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn {
  width: 80px;
  display: inline-block;
  padding: 8px 0 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: -0.5px;

  &:hover {
    background-color: #fff;
    color: var(--primary);
  }
}

.modal-backdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;

  &.active {
    display: block;
  }
}

.modal-wrap {
  display: none;
  max-width: 300px;
  padding: 50px 40px 40px;
  border-radius: 20px;
  background-color: var(--blue);
  box-shadow: 0 0 10px rgba(0, 52, 157, 0.7);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  &.active {
    display: block;
  }

  .modal-text {
    word-break: keep-all;
  }

  .answer {
    letter-spacing: 0;
  }

  .modal-close {
    width: 20px;
    height: 20px;
    font-size: 0;
    position: absolute;
    top: 16px;
    right: 16px;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
    }

    &::before {
      left: 0;
      top: 7px;
      transform: rotate(45deg);
    }

    &::after {
      right: 0;
      top: 7px;
      transform: rotate(-45deg);
    }
  }
}
